$sans-serif: apple-system, Helvetica, sans-serif;

$black: rgba(0, 0, 0, 0.87);
$grey: rgba(0, 0, 0, 0.6);
$placeholder-grey: rgba(0, 0, 0, 0.3);
$light-grey: rgba(0, 0, 0, 0.12);
$bg-grey: rgba(0, 0, 0, 0.05);
$white: rgba(255, 255, 255, 1);
$highlight: rgba(3, 199, 90, 1);
$red: red;

$input-height: 60px;
$input-padding: 14px;
$input-gap: 10px;
$round-offset: 4px;

@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
